@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image:url(../../Imagens/images.png); margin-top:20px;">
    <h1 style="color:white; text-align: center;">S.H.I.E.L.D</h1>
    <p class="lead" style="color:#0275BE; text-align: center;">Superintendência Humana de Intervenção, Espionagem, Logística e Dissuassão</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
